body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(124, 228, 129);
}

.login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
    margin: auto;
}

.input-field {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

.author {
    margin: 0;
    position: relative;
    top: 58.4px;
}

p.author a {
    padding: 0;
}